<!--
 ~ Copyright © 2016-2021 Dell Inc. or its subsidiaries.
 ~ All Rights Reserved.
 -->
 <header class="header">  
  <a [routerLink]="[ '/home' ]" routerLinkActive="active">Overview</a>  
  <a [routerLink]="[ '/user/overview' ]" routerLinkActive="active">User</a>  
  <a [routerLink]="[ '/product/overview' ]" routerLinkActive="active-link">Product</a>  
  <a [routerLink]="[ '/cart' ]" routerLinkActive="active">Cart</a>  
  <a [routerLink]="[ '/order' ]" routerLinkActive="active-link">Orders</a>
</header>
<router-outlet></router-outlet>
